<div id="ab" class="container-fluid flex">
<div class="col d-flex justify-content-start mt-5 pt-4">
  <small><b>Best for Small Businesses</b> </small>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eveniet fugit error quidem sequi dolorem eaque. Quia voluptates, voluptatem nostrum!</p>
</div>
<div class="col d-flex justify-content-end mt-5 pt-4">
  <small><b>Best for Investors</b></small>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eveniet fugit error quidem sequi dolorem eaque. Quia voluptates, voluptatem nostrum!</p>
</div>
<div class="col d-flex justify-content-start mt-5 pt-4">
  <small><b> Best for Receipt Saving</b></small>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eveniet fugit error quidem sequi dolorem eaque. Quia voluptates, voluptatem nostrum!</p>
</div>
<div class="col mb-5 d-flex justify-content-end mt-5 pt-4">
  <small><b>Best Free Option</b></small>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eveniet fugit error quidem sequi dolorem eaque. Quia voluptates, voluptatem nostrum!</p>
</div>

<footer class ="mt-5">

</footer>

</div>